<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Xlanding
 */
-->
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_Translations::top" title="Translations" module="Custom_Translations" parent="Magento_Backend::content" sortOrder="40" resource="Custom_Translations::top"/>

        <add id="Custom_Translations::translations" title="Translations" module="Custom_Translations" sortOrder="0" parent="Custom_Translations::top" action="custom_translations/index/index" resource="Custom_Translations::translations"/>
    </menu>
</config>
